{% extends '::base.html.twig' %}
{% block styles %}
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.5/css/jquery.dataTables.css">
    <link rel="stylesheet" href="//cdn.datatables.net/tabletools/2.2.3/css/dataTables.tableTools.css">
{% endblock styles %}
{% block scripts %}
    <script src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js"></script>
    <script>
    $(function () {
      $('[data-toggle="popover"]').popover()
    })
    $(document).ready(function() {
        $('#list').dataTable({
            "bJQueryUI": true,
            // "sPaginationType": "full_numbers",
            "bStateSave": true,
            "bProcessing": true,
                    //  "sAjaxSource": '{#{url('_ajaxlistes', {'registrantTypeId': registrantType.id})}#}', 
                    //  "sAjaxDataProp": "listes"
            "aoColumns":[
                { "bSearchable": false }, // Id
                {"bSearchable": false, "bSortable": false}, // Logo
                { "bSearchable": true }, // Name
                { "bSearchable": false }, // Active
                { "bSearchable": false }, // Created At
                { "bSearchable": false, "bSortable": false } // Actions         
            ]            
        }); 
    });
    </script>
{% endblock %}
{% block body -%}
    <h1>Company list</h1>

    <table id="list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Logo</th>
                <th>Corporate</th>
                <th>Active</th>
                <th>Creation date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('tew_company_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>
                    {% if entity.picture is not null%}
                        <img src="{% path entity.picture, 'admin' %}" alt="{{ entity.picture.name }}" width="80px">
                    {% endif %}
                </td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.active }}</td>
                <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <div class="btn-group btn-group-xs pull-right record_actions" role="group">
                            <a role="button"  class="btn btn-info" href="{{ path('tew_company_show', { 'id': entity.id }) }}">
                                show
                            </a>
                            <a role="button"  class="btn btn-warning" href="{{ path('tew_company_edit', { 'id': entity.id }) }}">
                                edit
                            </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% block actions %}
    <div class="btn-toolbar pull-right record_actions" role="group">
        <div class="btn-group">
            <a role="button"  class="btn btn-warning" href="{{ path('tew_company_new') }}">
                Create a new entry
            </a>
        </div>
    </div>
{% endblock actions %}
    {% endblock %}
