{# working talentpool - selected in home page #}
{% if app.session.get('workingtp') is defined %}
    {% set workingtp = app.session.get('workingtp') %}
{% endif %}
{# Beta or alpha release? #}
{% set beta=(app.request.server.get("SERVER_NAME")=="talent.tew.com") %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="{{ _charset }}" />
        <meta name="robots" content="noindex,nofollow" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
        <title>{% block title %}TEW TalentPool{% endblock %}</title>
        {% block stylesheets %}	
            <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"-->
            <link rel="stylesheet" href="{{ asset('bundles/tewtp/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css">
            <link rel="stylesheet" href="{{ asset('bundles/tewtp/css/talentpool.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/tewtp/css/bootstrap3-wysihtml5.css') }}" />
        {% endblock %}
        {% block styles %}{% endblock %}

    </head>

    <body style="padding-top: 50px;">
        <header>
            <noscript> <div class="noscript-warning"> Javascript is disabled in your web browser. Some features will not work properly. </div> </noscript>
        </header>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class='navbar-header'>
                <a class='brand' href='{{ path('tp_home') }}'>
                    <img height='49px' style='background-color:lightcyan; padding:3px;'
                    {% if not (app.user and app.user.company and app.user.company.picture) %}
                         src="{{ asset('bundles/tewtp/images/logo.png')}}"
                    {% else %}
                         src="{% path app.user.company.picture, 'admin' %}"
                    {% endif %}
                    >
                </a>
            </div>
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle collapsed" aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" type="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                {% block topmenu %}
                <div id="navbar" class="collapse navbar-collapse">
                    {{ knp_menu_render('tp_topmenu_main', {'class': 'nav navbar-nav', 'currentClass': 'active', 'template': 'TEWTPBundle:Menu:knp_menu.html.twig'}) }}
                    {{ knp_menu_render('tp_topmenu_user', {'currentClass': 'active', 'template': 'TEWTPBundle:Menu:knp_menu.html.twig'}) }}
                </div>
                {% endblock %}
            </div>
        </nav>
        <div class="container" style="margin-top: 60px;">
            {% block body %}
                Empty body - <em>please let us know when this page is displayed</em>
            {% endblock %}
        </div>	 

        {% block javascripts %}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
            <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
            <script src="{{ asset('bundles/tewtp/js/bootstrap3-wysihtml5.all.js') }}"></script>
            <script>
                $(document).ready(function() {
                        $('textarea').wysihtml5();
                        $('[data-toggle="tooltip"]').tooltip();
                    }
                );
            </script>
        {% endblock %}
        {% block scripts %}{% endblock %}
        <footer class="footer">
            <div class="container">
                <p class="text-muted pull-right">&copy; <a href="http://tew-cc.com" target='_blank'>TEW</a> {{ "now"|date("Y") }}
                    <img height="32px"
                           data-toggle="tooltip" data-placement="top" data-trigger="hover" data-delay="1000"
                           title="{{ beta?"Beta release":"Alpha-release / prototype" }}"
                           src="{{ asset('bundles/tewtp/images/icons/' ~ (beta?'beta':'alpha') ~ '.png') }}"
                           style="cursor: help; float: initial; position: relative; margin-top: -7px">
                </p>
            </div>
        </footer>
    </body>
</html>
