{% extends '::base.html.twig' %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/tewtp/css/bootstrap-magnify.css') }}" />
{% endblock styles %}

{% block scripts %}
    <script src="{{ asset('bundles/tewtp/js/bootstrap-magnify.js') }}"></script>
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover()
        })
    </script>
{% endblock %}

{% block body -%}
    <div role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
            {% for candidate in entities %}
                {% set anonymous = (not is_granted('ROLE_TEW_EXECUTOR')) and (candidate.creator.company != app.user.company) %}
                <li role="presentation" {{ loop.index==1?'class="active"' }}><a href="#cdte{{ loop.index }}" aria-controls="cdte{{ loop.index }}" role="tab" data-toggle="tab">{{ anonymous?'Candidate#'~loop.index:candidate }}</a></li>
            {% endfor %}
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            {% for candidate in entities %}
                <div role="tabpanel" class="tab-pane col-lg-12 {{ loop.index==1?'active' }}" id="cdte{{ loop.index }}">
                    {{ include('TEWTPBundle:Candidate:view.html.twig', {'entity': candidate, 'delete_form': delete_forms[candidate.id]}) }}
                    {{ include('TEWTPBundle:Candidate:common/cdtedetails_request.html.twig', {'entity': candidate, 'mail_form': mail_forms[candidate.id]} ) }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock body %}