{% extends '::base.html.twig' %}
{#% form_theme edit_form 'TEWTPBundle:Form:modalcollection_widget.html.twig' %#}
{% form_theme edit_form 'TEWTPBundle:Form:media_widgets.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/start/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/tewtp/css/jquery.tagsinput.css') }}" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0-beta.3/css/select2.min.css" rel="stylesheet" />
{% endblock styles %}
{% block scripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>{# needed for the tagsinput 'autocomplete_url' feature #}
    <script src="{{ asset('bundles/tewtp/js/jquery.tagsinput.js') }}"></script>
    <script>
    $('.tags-field').tagsInput({
        'autocomplete_url': '{{ path('tew_json_allcandidatetags') }}',
        'autocomplete': {selectFirst: true, width: '4px', autoFill: true},
        'height': '30px',
        'width': '400px',
        'interactive': true,
        'defaultText': 'add a tag',
    });
    </script>    
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0-beta.3/js/select2.min.js"></script>
    <script>
        //$('select').select2(); // trouble with modal popups
        $('.select2').select2(); // trouble with modal popups
        $('.modal .select2').select2({dropdownParent: $('.modal')});
/*
        $('.tags-field').select2({
            tags: true,
            ajax: {
                dataType: 'json',
                multiple: true,
                delay: 250,
                data: function (term) {
                    return {
                        q: term // search term
                    };
                },
                url: function(term) {
                    url="{{ path('tew_json_allcandidatetags') }}";
                    return url;
                },
                processResults: function(data) {
                    return {
                        results: $.map([data], function (item) {
                            return {
                                text: item.name,
                                id: item.id,
                                data: item
                            }
                        })
                    };
                },
                cache: true
            },
            escapeMarkup: function (markup) {
                return markup;
            }, // let our custom formatter work
            minimumInputLength: 1,
        });
*/
    $(function () {
      $('[data-toggle="popover"]').popover();
    });
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places&language=en"></script>
    <script src="{{ asset('bundles/tewtp/js/tew.collections.edit.js') }}"></script>
    <script src="{{ asset('bundles/tewtp/js/tew.candidate.edit.js') }}"></script>
    <script>
        {# if there is a new country in a mobility form, add the corresponding zone by an ajax request on tew_json_findzone #}
            $('.mobility_country').change(function () {
                console.log('change country ' + $(this).val());
                var zoneid = $(this).attr('id').replace((/country/), "zone");
                $.post("{{ path('tew_json_findzone') }}", {country: $(this).val()})
                        .done(function (data) {
                            $('#' + zoneid).val(data.zone[0].id); // setting the right zone
                            console.log(zoneid + ': ' + ($('#' + zoneid).val()));
                        })
                        .fail(function () {
                            alert("The zone was not found, please reload the location");
                        })
                        .always(function () {
                            console.log(zoneid + " finished");
                        });
            });
    </script>
{% endblock scripts %}

{% block body -%}
    <h1>Candidate edit</h1>

    {{ form_start(edit_form, { 'attr' : { 'class': 'form-inline' } }) }}

    <div class="row">
        <fieldset class="col-lg-8">
            <legend>Main</legend>
            <div class='row'>
                <div class="col-lg-2">{{ form_label(edit_form.active) }} {{ form_widget(edit_form.active) }}</div>
            </div>
            <div class="row">
                <div class="col-lg-3">{{ form_label(edit_form.function) }}</div>
                <div class="col-lg-3">{{ form_label(edit_form.level) }}</div>
                <div class="col-lg-3">{{ form_label(edit_form.experience) }}</div>
                <div class="col-lg-3">{{ form_label(edit_form.annualIncome) }}</div>
            </div>
            <div class="row">
                <div class="col-lg-3">{{ form_widget(edit_form.function) }}</div>
                <div class="col-lg-3">{{ form_widget(edit_form.level) }}</div>
                <div class="col-lg-3">{{ form_widget(edit_form.experience) }}</div>
                <div class="col-lg-3">{{ form_widget(edit_form.annualIncome) }}</div>
            </div>
            <div class="row"><br></div>
            <div class="row">
                <div class="col-lg-3">{{ form_label(edit_form.gender) }}</div>
                <div class="col-lg-3">{{ form_label(edit_form.firstName) }}</div>
                <div class="col-lg-3">{{ form_label(edit_form.middleName) }}</div>
                <div class="col-lg-3">{{ form_label(edit_form.lastName) }}</div>
            </div>
            <div class="row">
                <div class="col-lg-3">{{ form_widget(edit_form.gender) }}</div>
                <div class="col-lg-3">{{ form_widget(edit_form.firstName) }}</div>
                <div class="col-lg-3">{{ form_widget(edit_form.middleName) }}</div>
                <div class="col-lg-3">{{ form_widget(edit_form.lastName) }}</div>
            </div>
            <div class="row"><br></div>
            <div class="row">
                <div class="col-lg-12">
                     {{ form_row(edit_form.dateOfBirth) }}
                </div>
            </div>
            <div class="row"><br></div>
            <div class="row">
                <div class="col-lg-12">
                     {{ form_row(edit_form.languagesSkills) }}
                </div>
            </div>
            <div class="row"><br></div>
            <div class="row">
                <div class="col-lg-12">
                     {{ form_row(edit_form.mobilities) }}
                </div>
            </div>
        </fieldset>
        <fieldset class="col-lg-4">
            <legend>Attached</legend>
            <div class="row">
                <div class="col-lg-12">
                     Picture {{ form_row(edit_form.picture) }}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                     Resume {{ form_row(edit_form.resume) }}
                </div>
            </div>
        </fieldset>
    </div>
    <div class="row"><br></div>
    <div class="row">
        <div class="col-lg-6">
            <div class="row">
                <fieldset class="col-lg-12">
                    <legend>Details</legend>
                    <div class="row">
                        <div class="col-lg-12">
                            {{ form_widget(edit_form.email) }} {{ form_widget(edit_form.phone1) }} {{ form_widget(edit_form.phone2) }}
                        </div>
                    </div>
                    <div class="row"><br></div>
                    <div class="row">
                        <div class="col-lg-12">
                            {{ form_row(edit_form.addresses) }}
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="row"><br></div>
            <div class="row">
                <fieldset class="col-lg-12">
                    <legend>Talent Pools</legend>
                    <div class="row">
                        <div class="col-lg-12">
                            {{ form_row(edit_form.talentpools) }}
                        </div>
                    </div>
                    <div class="row"><br></div>
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Target position #1</label>
                            {{ form_widget(edit_form.targetFunction1) }}{{ form_widget(edit_form.targetLevel1) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Target position #2</label>
                            {{ form_widget(edit_form.targetFunction2) }}{{ form_widget(edit_form.targetLevel2) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Target position #3</label>
                            {{ form_widget(edit_form.targetFunction3) }}{{ form_widget(edit_form.targetLevel3) }}
                        </div>
                    </div>
                    <div class="row"><br></div>
                    <div class="row">
                        <div class="col-lg-12">
                            <label>{{ form_label(edit_form.comments) }}</label>
                            <div id="candidate_comments_new" class="form-collection" data-prototype="{{ form_widget(edit_form.comments.vars.prototype)|e }}"></div>
                            <div style="display: none"> {# older comments are hidden #}
                                {{ form_row(edit_form.comments) }}
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <fieldset class="col-lg-6">
            <legend>Opinion</legend>
            <div class="row">
                <div class="col-lg-6">{{ form_label(edit_form.globalScore) }} {{ form_widget(edit_form.globalScore) }}</div>
                <div class="col-lg-6">{{ form_label(edit_form.origin) }} {{ form_widget(edit_form.origin) }}</div>
            </div>
            <div class="row"><br></div>
            <div class="row">
                <div class="col-lg-12">
                    {{ form_row(edit_form.globalComment) }}
                </div>
            </div>
            <div class="row"><br></div>
            <div class="row">
                <div class="col-lg-12">
                    {{ form_row(edit_form.tags) }}
                </div>
            </div>
        </fieldset>
    </div>

    <br>
    {% block actions %}
        <div class="btn-toolbar pull-right record_actions" role="group">
            <div class="btn-group">
                {{ form_row(edit_form.submit) }}
            </div>
            {{ form_end(edit_form, {'render_rest': true}) }} {# this should be put before the form(delete_form) button #}
            <div class="btn-group">
                <a role="button"  class="btn btn-info" href="{{ path('tew_candidate') }}">
                    Back to the list
                </a>
            </div>
            <div class="btn-group">
                {{ form(delete_form) }}
            </div>
        </div>
    {% endblock actions %}
{% endblock body %}
