{% extends '::base.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    {# <link rel="stylesheet" href="{{asset('bundles/tewtp/css/jquery.dataTables.css')}}"> #}
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.5/css/jquery.dataTables.css">
    <link rel="stylesheet" href="//cdn.datatables.net/tabletools/2.2.3/css/dataTables.tableTools.css">
    <link rel="stylesheet" href="{{asset('bundles/tewtp/css/jquery.tagsinput.css')}}">
{% endblock styles %}
{% block scripts %}
    {# <script src="{{ asset('bundles/tewtp/js/jquery.dataTables.min.js') }}"></script> #}
    <script src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js"></script>
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover()
        })
        $(document).ready(function () {
            $('#list').dataTable({
                "bJQueryUI": true,
                // "sPaginationType": "full_numbers",
                "bStateSave": true,
                "bProcessing": true,
                //  "sAjaxSource": '{#{url('_ajaxlistes', {'registrantTypeId': registrantType.id})}#}', 
                //  "sAjaxDataProp": "listes"
                "aoColumns": [
                    {"bSearchable": false, "bSortable": false}, // Check
                    {"bSearchable": false, "bSortable": false}, // Pictos
                    {"bSearchable": true}, // Name
                    {"bSearchable": true}, // Current function
                    {"bSearchable": true}, // Current level
                    {"bSearchable": true, "bSortable": false}, // Nationality
                    {"bSearchable": true, "bSortable": false}, // Mobilities
                    {"bSearchable": true, "bSortable": false}, // Talent pools
                    {"bSearchable": true, "bSortable": false}, // Target functions / levels                
                    {% if 'faurecia' not in (app.user.company|lower) %}
                    {"bSearchable": true, "bSortable": false}, // Tags
                    {% endif %}
                    {"bSearchable": true, "bSortable": false}, // keywords
                    {"bSearchable": true}, // Added on
                    {"bSearchable": false, "bSortable": false} // Actions     
                ]
            });
        });
        $('.checkall').click(function () {
            $('#list').children('tbody').find(':checkbox').prop('checked', $(this).hasClass('icon-unchecked'));
            $(this).toggleClass('icon-unchecked');
            $(this).toggleClass('icon-check');
        });
    </script>
{% endblock %}
{% block body -%}
    
<div>
  {{ form_errors(check_candidates_form) }}
</div>
    
  <h1>Candidate list
    {% if (filter_details is defined and filter_details|length>0) %}
        <small><em><i class="icon-filter" data-toggle="popover" data-placement="top" data-delay='{ "show": 500, "hide": 200 }' data-html="true" style="cursor:help"
                      data-title="Search filter" data-content="{{ filter_details|hashJoin(' <br> ') }}" data-trigger='hover'></i>
                </em></small>
    {% endif %}
    </h1>
        
    {{ form_start(check_candidates_form) }}
    <table id="list" class="display" cellspacing="0">
        <thead>
            <tr>
                <th><i class="icon icon-unchecked checkall"></i></th>
                <th>Status</th>
                <th>Cdte / init. score</th>
                <th>Current function / years exp</th>
                <th>Current level</th>
                <th>Nationality</th>
                <th>Mobility</th>
                <th>Talent pools / avg score</th>
                <th>Target functions / levels</th>
                {% if 'faurecia' not in (app.user.company|lower) %}
                <th>Tags</th>
                {% endif %}
                <th>Keywords</th>
                <th>Entry date</th>
                <th width="110">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                    {# Should this candidate details be displayed? #}
                    {% set staff = is_granted('ROLE_TEW_STAFF') %}
                    {% set fullview = staff or is_granted('ROLE_TEW_OBJECT_VIEW', entity) %}
                    {% set anon_view = is_granted('ROLE_TEW_OBJECT_ANONYMOUS_VIEW', entity) %}
                    {% set visible = (not fullview) and anon_view %}
                    {% set anonymous = visible and not is_granted('ROLE_STD_EXECUTOR') %}
                    {# [Rights for {{ entity }}: {{ staff?'staff ' }} {{ fullview?'fullview ' }} {{ anon_view?'anon_view ' }} {{ visible?'visible ' }} {{ anonymous?'anonymous' }}] #}
                    {% if (fullview or visible) %}
                    <tr>
                        <td>
                            {{ form_widget(check_candidates_form.candidates[entity.id]) }}
                        </td>
                        <td>
                            {% if entity.alert %}
                                <i class="icon-white icon-bell" style="color:red; cursor:help" title="alert"></i>
                            {% endif %}
                            {% if not entity.active %}
                                <i class="icon-remove" style="color:lightcoral; cursor:help" title="cancelled"></i>
                            {% endif %}
                            {% if entity.status %}
                                {{entity.status|status}}
                            {% endif %}
                            {% if entity.resume and (not anonymous) %}
                                <a href="{% path entity.resume, 'reference' %}" target="_blank" style="text-decoration: none; cursor: pointer">
                                    <i class="icon icon-paperclip" style="cursor:help" title="resume attached"></i>
                                </a>
                            {% endif %}
                            {% if entity.anonymousResume and anonymous %}
                                <a href="{% path entity.anonymousResume, 'reference' %}" target="_blank" style="text-decoration: none; cursor: pointer">
                                    <i class="icon icon-paperclip" style="cursor:help" title="resume attached"></i>
                                </a>
                            {% endif %}
                        </td>
                        <td>
                            {{ not anonymous?entity.firstName:'X.' }} {{ entity.lastName }} {{ not anonymous?entity.middleName }}<br>
                            <span data-toggle="popover" data-placement="top" data-delay='{ "show": 500, "hide": 200 }' data-html="true" style="cursor:help"
                                 data-content="{{ entity.globalComment }}" data-trigger='hover'>
                                <small title="entry score">{{ entity.globalScore|stars }}</small>
                            </span>
                        </td>
                        {#
                        <td>{% if entity.dateOfBirth %}{{ entity.dateOfBirth|date('Y-m-d H:i:s') }}{% endif %}</td>
                        #}
                        {#
                        <td>{{ entity.age }}</td>
                        #}
                        <td>{{ entity.function }} {{ entity.ageExperience }}&nbsp;yrs</td>
                        <td>{{ entity.level }} </td>
                        <td>{{ entity.nationality1|country }} {{ entity.nationality2|country }}</td>
                        <td>
                            <small>
                                {% for mob in entity.mobilities %}
                                    <span class='tag'>{{ mob }}</span>
                                {% endfor %}
                            </small>
                        </td>
                        <td>
                            <small>
                                {% for tp in entity.talentpools %}
                                    {% set visible_tp = is_granted("ROLE_TEW_OBJECT_VIEW", tp) or is_granted('ROLE_STD_EXECUTOR') %}
                                    {% if visible_tp %}
                                        <span class='tag'>{{ tp }} {{ entity.averageScore(tp)>0?entity.comments|commentsByTalentpool(tp)|commentsAverageScoreStars }}</span>
                                    {% endif %}
                                {% endfor %}
                            </small>
                        </td>
                        {#
                        <td>
                            <small>
                                {% for func in entity.targetFunctions %}
                                    <span class='tag'>{{ func }}</span>
                                {% endfor %}
                            </small>
                        </td>
                        #}
                        <td>
                            <small>
                                {% for pos in entity.targetPositions %}
                                    {% if pos[0] or pos[1] %}
                                    <span class='tag'>{{ pos[0] }} {{ pos[1] and pos[0]?' / '~pos[1]:pos[1] }}</span>
                                    {% endif %}
                                {% endfor %}
                            </small>
                        </td>
                        
                        {% if 'faurecia' not in (app.user.company|lower) %}
                        <td>
                            <small>
                                {% for tag in entity.tags %}
                                    <span class='tag'>{{ tag }}</span>
                                {% endfor %}
                            </small>
                        </td>
                        {% endif %}
                        <td>
                            <small>
                                {% for kw in entity.keywords %}
                                    <span class='tag'>{{ kw }}</span>
                                {% endfor %}
                            </small>
                        </td>
                        <td>{{ entity.owningcompany }} {% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d') }}{% endif %}</td>
                        <td>
                            <div class="btn-toolbar pull-right record_actions" role="group">
                                <div class="btn-group">
                                    <a role="button"  class="btn btn-xs btn-info" href="{{ path('tew_candidate_show', { 'id': entity.id }) }}">
                                        show
                                    </a>
                                </div>
                                {% if is_granted("ROLE_TEW_OBJECT_EDIT", entity) or is_granted("ROLE_MASTER_EXECUTOR") %}
                                    <div class="btn-group">
                                        <a role="button"  class="btn btn-xs btn-warning" href="{{ path('tew_candidate_edit', { 'id': entity.id }) }}">
                                            edit
                                        </a>
                                    </div>
                                {% endif %}
                                {% if delete_forms[entity.id] is defined and (is_granted("ROLE_TEW_OBJECT_DELETE", entity) or is_granted("ROLE_MASTER_EXECUTOR")) %}
                                    <div class="btn-group">        
                                        {{ form(delete_forms[entity.id]) }}
                                    </div>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                    {% else %}
                    <div style="display: none">
                        {{ form_widget(check_candidates_form.candidates[entity.id]) }}
                    </div>
                    {% endif %}

        {% endfor %}
    </tbody>
</table>
<br>
<div class='col-lg-5'>
    {{ form_widget(check_candidates_form.selectactions) }}
</div>
<div class='col-lg-6'>
    {{ form_widget(check_candidates_form.submit) }}
</div>
{{ form_end(check_candidates_form) }}
{% if is_granted('ROLE_TEW_OBJECT_CREATE') %} 
    {% block actions %}
        <div class="btn-toolbar pull-right record_actions" role="group">
            <div class="btn-group">
                <a role="button"  class="btn btn-warning" href="{{ path('tew_candidate_new') }}">
                    Create a new entry
                </a>
            </div>
        </div>
    {% endblock actions %}
{% endif %}
{% endblock %}
