{% extends '::base.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="{{asset('bundles/tewtp/css/jquery.dataTables.css')}}">
{% endblock styles %}
{% block scripts %}
    <script src="{{ asset('bundles/tewtp/js/jquery.dataTables.min.js') }}"></script>
    <script>
    $(function () {
      $('[data-toggle="popover"]').popover()
    })
    $(document).ready(function() {
        $('#list').dataTable({
            "bJQueryUI": true,
            // "sPaginationType": "full_numbers",
            "bStateSave": true,
            "bProcessing": true,
                    //  "sAjaxSource": '{#{url('_ajaxlistes', {'registrantTypeId': registrantType.id})}#}', 
                    //  "sAjaxDataProp": "listes"
            "aoColumns":[
                { "bSearchable": false, "bSortable": false },
                { "bSearchable": true },
                { "bSearchable": true },
                { "bSearchable": true },
                { "bSearchable": false },
                { "bSearchable": false, "bSortable": false },
                { "bSearchable": false },
                { "bSearchable": false },
                { "bSearchable": false, "bSortable": false  }           
            ]            
        }); 
    });
    </script>
{% endblock %}
{% block body -%}
    <h1>Candidate list</h1>

    <table id="list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Entry score</th>
                <th>Name</th>
                <th>Curr. Pos.</th>
                <th>Exp.</th>
                <th>Talent pools</th>
                <th>Added on</th>
                <th>Origin</th>
                <th width="110">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('tew_candidate_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>
                    <div data-toggle="popover" data-placement="bottom" data-delay='{ "show": 500, "hide": 200 }' data-html="true" style="cursor:help"
                        data-content="{{ entity.globalComment }}" data-trigger='hover'>
                        {{ entity.globalScore|stars }}
                    </div>
                </td>
                <td>{{ entity.firstName }} {{ entity.middleName }} {{ entity.lastName }}</td>
                {#
                <td>{% if entity.dateOfBirth %}{{ entity.dateOfBirth|date('Y-m-d H:i:s') }}{% endif %}</td>
                #}
                {#
                <td>{{ entity.age }}</td>
                #}
                <td>{{ entity.function }} {{ entity.level }}</td>
                <td>{{ entity.ageExperience }} yrs</td>
                <td>
                    {% for tp in entity.talentpools %}
                        {{ tp }} {{ entity.averageScore(tp)|stars }}<br>
                    {% endfor %}
                </td>
                <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d') }}{% endif %}</td>
                <td>{{ entity.origin }}</td>
                <td>
                    <div class="btn-toolbar pull-right record_actions" role="group">
                        <div class="btn-group">
                            <a role="button"  class="btn btn-xs btn-info" href="{{ path('tew_candidate_show', { 'id': entity.id }) }}">
                                show
                            </a>
                        </div>
                        <div class="btn-group">
                            <a role="button"  class="btn btn-xs btn-warning" href="{{ path('tew_candidate_edit', { 'id': entity.id }) }}">
                                edit
                            </a>
                        </div>
                        <div class="btn-group">        
                            {% if is_granted("ROLE_TEW_EXECUTOR") %}
                                {{ form(delete_forms[entity.id]) }}
                            {% endif %}
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% block actions %}
    <div class="btn-toolbar pull-right record_actions" role="group">
        <div class="btn-group">
            <a role="button"  class="btn btn-warning" href="{{ path('tew_candidate_new') }}">
                Create a new entry
            </a>
        </div>
    </div>
{% endblock actions %}

    {% endblock %}
