{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Candidate list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Score</th>
                <th>Name</th>
                <th>Age</th>
                <th>Curr. Pos.</th>
                <th>Exp.</th>
                <th>Added at</th>
                <th width="102">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('tew_candidate_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.scoreAverage|stars }}</td>
                <td>{{ entity.firstName }} {{ entity.middleName }} {{ entity.lastName }}</td>
                {#
                <td>{% if entity.dateOfBirth %}{{ entity.dateOfBirth|date('Y-m-d H:i:s') }}{% endif %}</td>
                #}
                <td>{{ entity.age }}</td>
                <td>{{ entity.position }}</td>
                <td>{{ entity.level }} yrs</td>
                <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <div class="btn-group btn-group-xs pull-right record_actions" role="group">
                            <a role="button"  class="btn btn-info" href="{{ path('tew_candidate_show', { 'id': entity.id }) }}">
                                show
                            </a>
                            <a role="button"  class="btn btn-warning" href="{{ path('tew_candidate_edit', { 'id': entity.id }) }}">
                                edit
                            </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% block actions %}
    <div class="btn-toolbar pull-right record_actions" role="group">
        <div class="btn-group">
            <a role="button"  class="btn btn-warning" href="{{ path('tew_candidate_new') }}">
                Create a new entry
            </a>
        </div>
    </div>
{% endblock actions %}

    {% endblock %}
