{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Candidate</h1>
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Average score</th>
                <td>{{ entity.scoreAverage|stars }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td><img src="{% path entity.picture, 'small' %}" alt="{{ entity.picture.name }}"></td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{ entity.gender|gender }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ entity.firstName }}</td>
            </tr>
            <tr>
                <th>Middlename</th>
                <td>{{ entity.middleName }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ entity.lastName }}</td>
            </tr>
            <tr>
                <th>Dateofbirth</th>
                <td>{{ entity.dateOfBirth|date('d M Y') }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email|mail }}</td>
            </tr>
            <tr>
                <th>Phone1</th>
                <td>{{ entity.phone1 }}</td>
            </tr>
            <tr>
                <th>Phone2</th>
                <td>{{ entity.phone2 }}</td>
            </tr>
            <tr>
                <th>Addresses</th>
                <td>{{ entity.addresses|join(' / ') }}</td>
            </tr> 
            <tr>
                <th>Current position</th>
                <td>{{ entity.position }}</td>
            </tr>
            <tr>
                <th>Target positions</th>
                <td>{{ entity.targetPositions|join(' / ') }}</td>
            </tr> 
            <tr>
                <th>Languages</th>
                <td> {% for lskill in  entity.languagesSkills %}
                    {{ lskill|languageSkill }} {# filter defined in src/.../Twig/Extension #}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Talent Pools</th>
                <td>{{ entity.talentpools|join(' / ') }}</td>
            </tr>
            <tr>
                <th>Experience</th>
                <td>{{ entity.level }} years</td>
            </tr>
            <tr>
                <th>Origin</th>
                <td>{{ entity.origin }}</td>
            </tr>
            <tr>
                <th>Comments</th>
                <td>{{ entity.comments|join(' / ') }} Add a comment button</td>
            </tr>
            <tr>
                <th>Tags</th>
                <td>{{ entity.tags|join(' / ') }}</td>
            </tr>
            <tr>
                <th>Resume</th>
                <td><a href="{% path entity.resume, 'reference' %}" target="_blank">{{ entity.resume }}</a></td>
            </tr>
            <tr>
                <th>Creationdate</th>
                <td>{{ entity.creationDate|date('D d M Y \\a\\t g:ia', "Europe/Paris") }}</td>
            </tr>
            <tr>
                <th>Creator</th>
                <td>{{ entity.creator }}</td>
            </tr>
        </tbody>
    </table>

{% block actions %}
    <div class="btn-toolbar pull-right record_actions" role="group">
        <div class="btn-group">
            <a role="button"  class="btn btn-info" href="{{ path('tew_candidate') }}">
                Back to the list
            </a>
        </div>
        <div class="btn-group">
            <a role="button" class="btn btn-warning" href="{{ path('tew_candidate_edit', { 'id': entity.id }) }}" >
                Edit
            </a>
        </div>
        <div class="btn-group">
            {{ form(delete_form) }}
        </div>
    </div>
{% endblock actions %}
{% endblock %}
