{% extends '::base.html.twig' %}

{% block scripts %}
    <script>
    $(function () {
      $('[data-toggle="popover"]').popover()
    })
    </script>
{% endblock %}

{% block body -%}
    <h1>Candidate</h1>
    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
                <td rowspan="100" style="vertical-align: top">
                    <h4>Talent pools</h4>
                    {% for tp in entity.talentpools %}
                        {% set tpcomments = entity.comments|commentsByTalentpool(tp) %}
                        <ul>
                            <li>
                                {{ tp }} {{ tpcomments|commentsAverageScore|stars }}
                                <ul>
                                {% for comment in tpcomments %}
                                    <li data-toggle="popover" data-delay='{ "show": 500, "hide": 200 }' data-html="true" style="cursor:pointer" data-trigger='hover'
                                        data-content="{{ comment.comment }}" data-title="{{ comment }}<br><em>- by {{ comment.author }}, on {{ comment.date|date('d M Y') }}</em>">
                                        {{ comment.score|stars }} {{ comment }} - <em>{{ comment.date|date('d M Y') }}</em>
                                    </li>
                                 {% endfor %}
                                 </ul>
                             </li>
                        </ul>
                    {% endfor %}
                    
                </td>
            </tr>
            <tr>
                <th>Global score</th>
                <td data-toggle="popover" data-content="{{ entity.globalComment }}" data-delay='{ "show": 500, "hide": 200 }' data-html="true" style="cursor:pointer" data-trigger='hover'>
                    {{ entity.globalScore|stars }}
                </td>
            </tr>
            <tr>
                <th>Picture</th>
                <td><img src="{% path entity.picture, 'small' %}" alt="{{ entity.picture is null?'':entity.picture.name }}"></td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{ entity.gender|gender }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ entity.firstName }}</td>
            </tr>
            {% if entity.middleName %}
            <tr>
                <th>Middlename</th>
                <td>{{ entity.middleName }}</td>
            </tr>
            {% endif %}
            <tr>
                <th>Lastname</th>
                <td>{{ entity.lastName }}</td>
            </tr>
            <tr>
                <th>Dateofbirth</th>
                <td>{{ entity.dateOfBirth|date('d M Y') }} ({{ entity.age }} yrs old)</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email|mail }}</td>
            </tr>
            <tr>
                <th>Phone1</th>
                <td>{{ entity.phone1 }}</td>
            </tr>
            {% if entity.phone2 %}
            <tr>
                <th>Phone2</th>
                <td>{{ entity.phone2 }}</td>
            </tr>
            {% endif %}
            <tr>
                <th>Addresses</th>
                <td>
                    {% for address in entity.addresses %}
                        <div>{{ address }}: {{ address.street1 }} {{ address.street2 }} {{ address.zip }} {{ address.city }} {{ address.country }}</div>
                    {% endfor %}
                </td>
            </tr> 
            <tr>
                <th>Current position</th>
                <td>{{ entity.function }} {{ entity.level }}
                    {{ entity.experience is not null and entity.experience != 0? entity.experience ~ ' years' }}
                    {{ entity.annualIncome is not null and entity.annualIncome != 0?' - annual income ' ~ entity.annualIncome|localizedcurrency('USD') }}</td>
            </tr>
            {% if entity.targetFunction1 and entity.targetFunction3 and entity.targetFunction3 %}
            <tr>
                <th>Target positions</th>
                <td>
                    {{ entity.targetFunction1 is not null? entity.targetFunction1 }} {{ entity.targetLevel1 is not null? entity.targetLevel1 }}
                    {{ entity.targetFunction2 is not null?' / ' ~ entity.targetFunction2 }} {{ entity.targetLevel2 is not null? entity.targetLevel2 }}
                    {{ entity.targetFunction3 is not null?' / ' ~ entity.targetFunction3 }} {{ entity.targetLevel3 is not null? entity.targetLevel3 }}
                </td>
            </tr>
            {% endif %}
            {% if entity.languagesSkills %}
            <tr>
                <th>Languages</th>
                <td>
                    {% for lskill in  entity.languagesSkills %}
                        {{ loop.index>1?' / '}}
                        {{ lskill|languageSkill }} {# filter defined in src/.../Twig/Extension #}
                    {% endfor %}
                </td>
            </tr>
            {% endif %}
            {% if entity.mobilities %}
            <tr>
                <th>Mobility</th>
                <td>{{ entity.mobilities|join(' / ') }}</td>
            </tr>
            {% endif %}
            <tr>
                <th>Tags</th>
                <td>{{ entity.tags|join(' / ') }}</td>
            </tr>
            <tr>
                <th>Resume</th>
                <td><a href="{% path entity.resume, 'reference' %}" target="_blank">{{ entity.resume }}</a></td>
            </tr>
            <tr>
                <th>Creation date</th>
                <td>{{ entity.createdAt|date('D d M Y \\a\\t g:ia', "Europe/Paris") }}</td>
            </tr>
            <tr>
                <th>Creator</th>
                <td>{{ entity.creator }}</td>
            </tr>
            <tr>
                <th>Origin</th>
                <td>{{ entity.origin }}</td>
            </tr>
        </tbody>
    </table>

{% block actions %}
    <div class="btn-toolbar pull-right record_actions" role="group">
        <div class="btn-group">
            <a role="button"  class="btn btn-info" href="{{ path('tew_candidate') }}">
                Back to the list
            </a>
        </div>
        <div class="btn-group">
            <a role="button" class="btn btn-warning" href="{{ path('tew_candidate_edit', { 'id': entity.id }) }}" >
                Edit
            </a>
        </div>
        <div class="btn-group">
            {{ form(delete_form) }}
        </div>
    </div>
{% endblock actions %}
{% endblock %}
