{# Should this candidate details be displayed? #}
{% set fullview = is_granted('ROLE_PARTNER_STD_EXECUTOR') or is_granted('ROLE_TEW_OBJECT_VIEW', entity) %}
{% set anonymous = (not fullview) and is_granted('ROLE_TEW_OBJECT_ANONYMOUS_VIEW', entity) %}

{% if not (fullview or anonymous) %}
    <h1>
        Candidate view not allowed
    </h1>
{% else %}
    <h1>
        {{ anonymous?'Candidate':entity }}
        {% if entity.picture %}
            <div class="mag pull-right">
                <img height="100" data-toggle="magnify" src="{% path entity.picture, 'big' %}" alt="{{ entity.picture is null?'':entity.picture.name }}">
            </div>
        {% endif %}
        <br>
        <small>
            {% if entity.alert %}
                <i class="icon-white icon-bell" style="color:red; cursor:help" title="alert"></i>
            {% endif %}
            {% if not entity.active %}
                <i class="icon-remove" style="color:lightcoral; cursor:help" title="cancelled"></i>
            {% endif %}
            {% if entity.status %}
                {{entity.status|status}}
            {% endif %}
            {% if entity.resume %}
                <i class="icon icon-paperclip" style="cursor:help" title="resume attached"></i>
            {% endif %}
        </small>
    </h1>
    <div role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-pills">
            <li role="presentation" class="active"><a href="#details_{{entity.id}}" aria-controls="details" role="tab" data-toggle="tab">Profile</a></li>
            <li role="presentation" ><a href="#talentpools_{{entity.id}}" aria-controls="talentpools" role="tab" data-toggle="tab">Fit w/Talent Pools &amp; User comments</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="details_{{entity.id}}">
                <table class="record_properties">
                    <tbody>
                        <tr>
                            {% if is_granted('ROLE_MASTER_EXECUTOR') %}
                                <th>Id</th>
                                <td>{{ entity.id }}</td>
                            {% endif %}
                        </tr>
                        {% if entity.globalScore>=0 %}
                            <tr>
                                <th>Entry score</th>
                                <td data-toggle="popover" data-placement="bottom" data-content="{{ entity.globalComment }}" data-delay='{ "show": 500, "hide": 200 }' data-html="true" style="cursor:help" data-trigger='hover'>
                                    {{ entity.globalScore|stars }}
                                </td>
                            </tr>
                        {% endif %}
                        <tr>
                            <th>Name</th>
                            <td>
                                {{ (not anonymous)?entity.gender|gender }}
                                {{ ((not anonymous)?entity.firstName:'<a style="cursor:pointer" data-toggle="modal" data-target="#myModal'~entity.id~'">X.</a>')|raw }}
                                {{ ((not anonymous) and entity.middleName)?entity.middleName }}
                                {{ entity.lastName }}
                                {% if entity.dateOfBirth %} / date of birth:
                                    {{ anonymous?entity.dateOfBirth|date('Y'):entity.dateOfBirth|date('d M Y') }} ({{ entity.age }} yrs old)
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th>Current position</th>
                            <td>
                                {{ entity.function.indentedName|title }} - {{ entity.level|title }}
                                {{ entity.experience is not null and entity.experience != 0? ': ' ~ entity.ageExperience ~ ' year(s)' }}
                            </td>
                        </tr>
                        <tr>
                            <th>Income</th>
                            <td class="incomedata">
                                <div class="curr_ori" style="display:none">{{entity.currency?entity.currency:'USD'}}</div>
                                <div class="income_ori" style="display:none">{{entity.income?entity.income:0}}</div>
                                Base salary&nbsp;
                                <select class="currency">
                                    <option value="EUR">Euros</option>
                                    <option value="USD">US Dollars</option>
                                    <option selected value="{{entity.currency?entity.currency:'USD'}}">{{entity.currency?entity.currency:'USD'}}</option>
                                </select>
                                <span class="income">
                                    {{  (entity.income and (entity.income!=0))?entity.income:"0"}}
                                </span>

                                {#{ entity.incomeMonths?' on '~ entity.incomeMonths ~ 'months'}#}
                                {{ entity.bonusbenefits?'. Additional: '~entity.bonusbenefits }}
                            </td>
                        </tr>
                        {% if entity.targetFunction1 or entity.targetFunction3 or entity.targetFunction3 %}
                            <tr>
                                <th>Target position(s)</th>
                                <td>
                                    {{ entity.targetFunction1 is not null? entity.targetFunction1 }} {{ entity.targetLevel1 is not null? entity.targetLevel1 }}
                                    {{ entity.targetFunction2 is not null?' / ' ~ entity.targetFunction2 }} {{ entity.targetLevel2 is not null? entity.targetLevel2 }}
                                    {{ entity.targetFunction3 is not null?' / ' ~ entity.targetFunction3 }} {{ entity.targetLevel3 is not null? entity.targetLevel3 }}
                                </td>
                            </tr>
                        {% endif %}
                        {% if entity.languagesSkills %}
                            <tr>
                                <th>Languages</th>
                                <td>
                                    {% for lskill in  entity.languagesSkills %}
                                        {{ loop.index>1?' / '}}
                                        {{ lskill|languageSkill }} {# filter defined in src/.../Twig/Extension #}
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endif %}
                        <tr>
                            <th>Passport country</th>
                            <td>{{ entity.nationality1|country }} {{ entity.nationality2|country }}</td>
                        </tr>
                        {% if entity.mobilities %}
                            <tr>
                                <th>Mobility</th>
                                <td>{{ entity.mobilities|join(' / ') }}</td>
                            </tr>
                        {% endif %}
                        <tr>
                            <th>Tags</th>
                            <td>{% for tag in entity.tags %}
                                <span class="tag">{{ tag }}</span>
                                {% endfor %}
                                </td>
                            </tr>
                            {% if not anonymous %}
                                <tr>
                                    <th>Contact</th>
                                    <td>{{ entity.email1?entity.email1|mail }} {{ entity.email2?entity.email2|mail }} {{ entity.phone1?' / phone1: '~entity.phone1 }} {{ entity.phone2?' / phone2: '~entity.phone2 }}</td>
                                </tr>
                                <tr>
                                    <th>Addresses</th>
                                    <td>
                                        {% for address in entity.addresses %}
                                            <div>{{ address }}: {{ anonymous?'':address.street1 }} {{ anonymous?'':address.street2 }} {{ anonymous?'':address.zip }} {{ anonymous?'':address.city }} {{ address.country }}</div>
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endif %}
                            {% if not anonymous and entity.resume %}
                                <tr>
                                    <th>Resume</th>
                                    <td>
                                        <a href="{% path entity.resume, 'reference' %}" target="_blank">
                                            {% if entity.resume.contentType=='application/pdf' %}
                                                <img width="32" src="{{ asset('bundles/tewtp/images/icons/pdf.png') }}">
                                            {% elseif entity.resume.contentType=='application/msword' %}
                                                <img width="32" src="{{ asset('bundles/tewtp/images/icons/word.png') }}">
                                            {% endif %}
                                            {{ entity.resume }}
                                        </a>
                                    </td>
                                </tr>
                            {% endif %}
                            {% if entity.anonymousResume and (anonymous or is_granted('ROLE_MASTER_EXECUTOR'))  %}
                                <tr>
                                    <th>{{is_granted('ROLE_MASTER_EXECUTOR')?'Anonymous '}}Resume</th>
                                    <td>
                                        <a href="{% path entity.anonymousResume, 'reference' %}" target="_blank">
                                            {% if entity.anonymousResume.contentType=='application/pdf' %}
                                                <img width="32" src="{{ asset('bundles/tewtp/images/icons/pdf.png') }}">
                                            {% elseif entity.anonymousResume.contentType=='application/msword' %}
                                                <img width="32" src="{{ asset('bundles/tewtp/images/icons/word.png') }}">
                                            {% endif %}
                                            {{ entity.anonymousResume }}
                                        </a>
                                    </td>
                                </tr>
                            {% endif %}
                            {% if not anonymous %}
                                <tr>
                                    <th>Created by</th>
                                    <td>{{ entity.creator }} on {{ entity.createdAt|date('D d M Y \\a\\t g:ia', "Europe/Paris") }}</td>
                                </tr>
                                <tr>
                                    <th>Owner</th>
                                    <td>{{ entity.owningcompany }}</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
                <div role="tabpanel" class="tab-pane col-lg-12" id="talentpools_{{entity.id}}">
                    <br>
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Talent Pool &gt; position</th>
                                <th>Fit w/function</th>
                                <th>Fit w/level</th>
                                <th>Fit w/mobility</th>
                                <th colspan="2" style="text-align: center">User comments</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% set visible_tps = [] %}
                            {% for tp in entity.talentpools %}
                                {% set visible_tp = is_granted('ROLE_MASTER_EXECUTOR') or is_granted('ROLE_TEW_OBJECT_VIEW', tp) %}
                                {% if visible_tp %}
                                    {% set tpcomments = entity.comments|commentsByTalentpool(tp) %}
                                    {% set visible_tps = visible_tps|merge([tp])%}
                                    <tr>
                                        <td colspan="4">
                                            <strong>{{ tp }}</strong> {{ tpcomments|commentsAverageScoreStars }}
                                        </td>
                                        <td rowspan="{{tp.profiles|length+1}}" id='comments{{tp.id}}'>
                                            {% for comment in tpcomments|slice(0, 5) %}
                                                <span
                                                    data-toggle="popover" data-delay='{ "show": 500, "hide": 200 }' data-html="true" style="cursor:help" data-trigger='hover' data-placement="top"
                                                    data-content="{{ comment.comment }}" data-title="{{ comment }}<br><em>- by {{ comment.author }}, on {{ comment.date|date('d M Y') }}</em>">
                                                    <small>{{ comment.score|stars }} <em>{{ comment.date|date('d M Y') }}</em></small>
                                                </span><br>
                                            {% endfor %}
                                        </td>
                                        {% if not anonymous and addcomment_forms is defined %}
                                        <td style="vertical-align: middle" rowspan="{{tp.profiles|length+1}}">
                                            <button class="btn btn-xs btn-warning" data-toggle="modal" data-target="#addCommentModal{{tp.id}}">add</button>
                                        </td>
                                        {% endif %}
                                    </tr>
                                    {% for prof in tp.profiles %}
                                        <tr>
                                            <td style="text-align: right">{{ prof }}</td>
                                            {% if ((prof.function==entity.function or not prof.function) and (prof.level==entity.level or not prof.level))
                                               or ((prof.function==entity.targetFunction1 or not prof.function) and (prof.level==entity.targetLevel1 or not prof.level))
                                               or ((prof.function==entity.targetFunction2 or not prof.function) and (prof.level==entity.targetLevel2 or not prof.level))
                                               or ((prof.function==entity.targetFunction3 or not prof.function) and (prof.level==entity.targetLevel3 or not prof.level))
                                            %}
                                            <td>{{ ('<i class="icon icon-ok" style="color:green"></i> '~(prof.function?prof.function:'all'))|raw}}</td>
                                            <td>{{ ('<i class="icon icon-ok" style="color:green"></i> '~(prof.level?prof.level:'all'))|raw}}</td>
                                            {% else %}
                                            <td>{{ ((prof.function==entity.function or not prof.function)?'<i class="icon icon-ok" style="color:green"></i> '~(prof.function?prof.function:entity.function):'<i class="icon icon-remove" style="color:lightcoral"></i> '~(prof.function?prof.function:entity.function))|raw}}</td>
                                            <td>{{ ((prof.level==entity.level or not prof.level)?'<i class="icon icon-ok" style="color:green"></i> '~(prof.level?prof.level:entity.level):'<i class="icon icon-remove" style="color:lightcoral"></i> '~(prof.level?prof.level:entity.level))|raw}}</td>
                                            {% endif %}
                                                <td>N/C</td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}

                        </tbody>
                    </table>
                    {% for tp in visible_tps %}
                        {{ addcomment_forms is defined?include('TEWTPBundle:Candidate:common/cdte_add_comment.html.twig', {'this_form':addcomment_forms[tp.id] ,'cdte': entity, 'tp': tp, 'user': app.user} ) }}
                    {% endfor %}
                </div>
                                
            </div>
        </div>

    {% block actions %}
        <div class="btn-toolbar pull-right record_actions" role="group">
            <div class="btn-group">
                <a role="button"  class="btn btn-info" href="{{ path('tew_candidate') }}">
                    Back to the list
                </a>
            </div>
            {% if is_granted('ROLE_MASTER_EXECUTOR') or is_granted('ROLE_TEW_OBJECT_EDIT', entity) %}
                <div class="btn-group">
                    <a role="button" class="btn btn-warning" href="{{ path('tew_candidate_edit', { 'id': entity.id }) }}" >
                        Edit
                    </a>
                </div>
            {% endif %}
            {% if anonymous %}
                <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal{{entity.id}}">
                    Request candidate details
                </button>
            {% endif %}
            {% if is_granted('ROLE_MASTER_EXECUTOR') and delete_form is defined %}
                <div class="btn-group">
                    {{ form(delete_form) }}
                </div>
            {% endif %}
        </div>
    {% endblock actions %}
{% endif %}
