{% extends "TEWTPBundle::layout.html.twig" %}

{% block styles %}
    <link rel="stylesheet" href="{{asset('bundles/tewtp/css/signin.css')}}">
{% endblock styles %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ error|trans({}, 'FOSUserBundle') }}
        </div>
    {% endif %}
    <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4 body bg-gray">
            <form class="form-signin" action="{{ path("fos_user_security_check") }}" method="post" role="form">
                <h2 class="form-signin-heading">Authentication</h2>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                <label class="sr-only" for="username">User name</label>
                <input type="text" class="form-control" id="username"  name="_username" value="{{ last_username is defined?last_username }}" required="required" placeholder="{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}"/>
                <label class="sr-only" for="password">Password</label>
                <input type="password" class="form-control" id="password" name="_password" required="required" placeholder="{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}"/>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                        {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
                    </label>
                </div>
                <button type="submit" id="_submit" name="_submit" class="btn btn-lg btn-warning btn-block">{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}</button>
            </form>
            <br>
        </div>
    </div>
{% endblock body %}