{% extends "TEWTPBundle::layout.html.twig" %}
{% block body %}
        <div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('sonata_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'SonataUserBundle') }}
                </a>
            {% else %}
                <a href="{{ path('sonata_user_security_login') }}">{{ 'layout.login'|trans({}, 'SonataUserBundle') }}</a>
            {% endif %}
        </div>

        {% for type, messages in app.session.flashBag.all %}
            {% for message in messages %}
                <div class="{{ type }}">
                    {{ message|trans({}, 'SonataUserBundle') }}
                </div>
            {% endfor %}
        {% endfor %}

        <div>
            {#% block sonata_user_content %#}
            {#% endblock sonata_user_content %#}
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>

        <div class="alert-warning">
            Demo users:
            <ul>
                <li>Administrator
                    <strong>user:</strong> <code>admin</code>
                    <strong>password:</strong> <code>admin</code>
                </li>
                <li>TEW Executor
                    <strong>user:</strong> <code>tew_exec</code>
                    <strong>password:</strong> <code>tew_exec</code>
                </li>
                <li>Client
                    <strong>user:</strong> <code>client</code>
                    <strong>password:</strong> <code>client</code>
                </li>
                <li>Registered candidate
                    <strong>user:</strong> <code>cdte</code>
                    <strong>password:</strong> <code>cdte</code>
                </li>
            </ul>
        </div>
    {% endblock %}