{% block sonata_media_type_widget %}
    {#
    <div class="span3pull-left">
        {% if value is not empty and value.providerReference %}
            <div class="pull-left" style="margin-right: 5px">
                {% thumbnail value, 'admin' with {'class': 'img-polaroid media-object'} %}
            </div>
            {% if sonata_admin_enabled is defined and sonata_admin_enabled %}
                <a href="{{ url('admin_sonata_media_media_edit', {id: value.id}) }}"><strong>{{ value.name }}</strong></a>
            {% else %}
                <strong>{{ value.name }}</strong>
            {% endif %}
             <br />
            <span type="label">{{ value.providerName|trans({}, 'SonataMediaBundle') }}</span> ~ {{ value.context }}
        {% else %}
            <div class="pull-left" style="margin-right: 5px">
                <img src="{{ asset('bundles/sonatamedia/grey.png') }}" class="img-polaroid media-object" style="width: 85px; height: 85px"/>
            </div>
            <strong>{{ 'no_linked_media'|trans({}, 'SonataMediaBundle') }}</strong> <br />

            <span type="label">{{ form.vars['provider']|trans({}, 'SonataMediaBundle') }} ~ {{ form.vars['context']|trans({}, 'SonataMediaBundle') }}</span>
            
        {% endif %}
    </div>
    <div class="span3 pull-left">
        { 'link_media'|trans({}, 'SonataMediaBundle') }
        {{ block('form_widget') }}
    </div>
    #}
    <div class="form-group">
        {% if value is not empty and value.providerReference %}
            {% if (value.contentType == 'application/pdf') or (value.contentType == 'application/x-pdf') %}
                <a target='_blank' href="{{ url('sonata_media_download', {id: value.id, format: 'reference'}) }}">
                    <img width="32" src="{{ asset('bundles/tewtp/images/icons/pdf.png') }}" title="{{ value.name }}">{{ value.name }}
                </a>
            {% elseif (value.contentType == 'application/msword') %}
                <a target='_blank' href="{{ url('sonata_media_download', {id: value.id, format: 'reference'}) }}">
                    <img width="32" src="{{ asset('bundles/tewtp/images/icons/word.png') }}" title="{{ value.name }}">{{ value.name }}
                </a>
            {% else %}
                {% thumbnail value, 'admin' with {'class': 'img-polaroid media-object'} %}
            {% endif %}
            {% if sonata_admin_enabled is defined and sonata_admin_enabled %}
                <a href="{{ url('admin_sonata_media_media_edit', {id: value.id}) }}"><strong>{{ value.name }}</strong></a>
            {% endif %}
        {% else %}
                <img src="{{ asset('bundles/sonatamedia/grey.png') }}" class="img-polaroid media-object"/>
        {% endif %}
        {{ block('form_widget') }}
    </div>       
{% endblock sonata_media_type_widget %}
