{% extends 'form_div_layout.html.twig' %}
{% block modalcollection_widget %}
{% spaceless %}
    {% if prototype is defined %}
        {% set attr = attr|merge({'data-prototype': form_row(prototype)}) %}
    {% endif %}
    {% set modal_id = name ~ random() %} {# we set a different id for each modal popup #}
    {% set items = '<ul class="list-group">' %} {# popover items for the "view" button #}
    {% for rows in form %}
        {% set items = items ~ '<li class="list-group-item">' %}
            {% for item in rows %}
                {% set items = items ~ ' ' ~ item.vars.value %}
            {% endfor %}
        {% set items = items ~ '</li>' %}
    {% endfor %}
    {% set items = items ~ '</ul>' %}
<div class="modal fade child-count" role="dialog" id="{{ modal_id }}"> {# child-count is used in tew.collections.edit.js: DO NOT REMOVE #}
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{ block('form_label') }}</h4>
      </div>
      <div class="modal-body">
          <div id="importantmsg" class="alert alert-warning" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <strong>Notice:</strong> do not close this popup until all items are filled in
          </div>
       {{ block('form_widget') }}
        <a href="#" class="add_item_link btn-xs btn-warning">Add</a>
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-primary">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<button type="button" class="btn btn-info btn-xs" data-toggle="popover" data-delay='{ "show": 500, "hide": 200 }'
        style="cursor:help" data-trigger='hover' data-html="true"
        data-title="{{ name|capitalize }}" data-content="{{ items }}">Details</button>
<button type="button" class="btn btn-warning btn-xs" data-toggle="modal" data-target="{{ '#'~modal_id }}">Edit</button>
<script>
    $(document).ready(function(){
        $("#importantmsg").fadeOut(800).fadeIn(800).fadeOut(400).fadeIn(400);
    });
</script>
{% endspaceless %}
{% endblock modalcollection_widget %}


{% block form_label %}
    {{ parent() }}
    {% if required %}
        <span class="required" title="Mandatory field">*</span>
    {% endif %}
{% endblock %}