{# TEW/src/TEW/TPBundle/Resources/views/Home/index.html.twig #}
{% extends "TEWTPBundle::layout.html.twig" %}

{% block scripts %}
    <script>
    $('#form_talentpool').change(function(){
        if ($(this).val()>0) {
            $(this).parents('form').submit();
        }
    });
    </script>
{% endblock scripts %}

{% block body %}
    <div class="container row">
        <form class="form pull-right" action='{{ path('tp_home') }}' method='POST'>
            <i class="icon icon-sitemap"></i>{{ form_widget(form.talentpool) }}
            {{ form_rest(form) }}
        </form>
    </div>
    <div class="jumbotron">
        <div class="row">
            <div class="col-lg-6">
                {% if is_granted("ROLE_ADMIN") %}
                <div class="row">
                    <fieldset class="col-lg-12">
                        <legend><i class="icon icon-folder-open"></i> Companies / clients</legend>
                        <ul style="list-style-type: none;">
                            <li><i class="icon icon-plus-sign-alt"></i>
                                <a href="{{ path('tew_company_new') }}">Add</a> a new Company 
                            </li>
                            {% if workingtp is not null %}
                            <li><i class="icon icon-list"></i>
                                <a href="{{ path('tew_company', {'tpid': workingtp.id }) }}">View companies</a> using "{{ workingtp }}"
                            </li>
                            {% else %}
                            <li><i class="icon icon-list"></i>
                                <a href="{{ path('tew_company') }}">View companies</a> using "{{ workingtp }}"
                            </li>
                            {% endif %}
                        </ul>
                    </fieldset>
                </div>
                {% endif %}
                <div class="row">
                    <fieldset class="col-lg-12">
                        <legend><i class="icon icon-sitemap"></i> Talent Pools</legend>
                        <ul style="list-style-type: none;">
                            {% if workingtp is not null %}
                            <li><i class="icon icon-bookmark"></i>
                                <a href="{{ path('tew_talentpool_show', { 'id': workingtp.id }) }}">View "{{ workingtp }}"</a>
                            </li>
                                {% if is_granted("ROLE_TEW_EXECUTOR") %}
                                <li><i class="icon icon-edit"></i>
                                    <a href="{{ path('tew_talentpool_edit', { 'id': workingtp.id }) }}">Edit "{{ workingtp }}"</a>
                                </li>
                                {% endif %}
                            {% endif %}
                            {% if is_granted("ROLE_TEW_EXECUTOR") %}
                            <li><i class="icon icon-plus-sign-alt"></i>
                                <a href="{{ path('tew_talentpool_new') }}">Add</a> a new Talent Pool 
                            </li>
                            {% endif %}
                            <li><i class="icon icon-list"></i>
                                <a href="{{ path('tew_talentpool') }}">Talent pools</a>
                            </li>
                        </ul>
                    </fieldset>
                </div>
                <div class="row">
                    <fieldset class="col-lg-12">
                        <legend><i class="icon icon-male"></i> Candidates</legend>
                        <ul style="list-style-type: none;">
                            <li><i class="icon icon-plus-sign-alt"></i>
                                <a href="{{ path('tew_candidate_new') }}">Add</a> a new Candidate 
                            </li>
                            {% if workingtp is not null %}
                            <li><i class="icon icon-list"></i>
                                <a href="{{ path('tew_candidate') }}">View candidates</a> belonging to "{{ workingtp }}"
                            </li>
                            {% endif %}
                            <li><i class="icon icon-eye-open"></i>
                                <a href="{{ path('tew_candidate_search') }}">Candidate search</a>
                            </li>
                        </ul>
                    </fieldset>
                </div>
                {% if is_granted("ROLE_ADMIN") %}
                <div class="row">
                    <fieldset class="col-lg-12">
                        <legend><i class="icon icon-bar-chart"></i> Statistics</legend>
                        <em>Forthcoming</em>
                    </fieldset>
                </div>
                {% endif %}
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <fieldset class="col-lg-12">
                        <legend><i class="icon icon-user"></i> Profile</legend>
                        <ul style="list-style-type: none;">
                            {% if is_granted("ROLE_ADMIN") %}
                            <li><i class="icon icon-user"></i>
                                <a href="{{ path('sonata_user_profile_show') }}">View my profile</a>
                            </li>
                            <li><i class="icon icon-random"></i>
                                <a href="{{ path('sonata_user_change_password') }}">Change my password</a>
                            </li>
                            <li><i class="icon icon-edit"></i>
                                <a href="{{ path('sonata_user_profile_edit') }}">Edit my profile</a>
                            </li>
                            {% endif %}
                            <li><i class="icon icon-off"></i>
                                <a href="{{ path('sonata_user_profile_edit') }}">Logout</a>
                            </li>
                        </ul>
                    </fieldset>
                </div>
                {% if is_granted("ROLE_ADMIN") %}
                <div class="row">
                    <fieldset class="col-lg-12">
                        <legend><i class="icon icon-group"></i> Community</legend>
                        <em>Forthcoming</em>
                    </fieldset>
                </div>
                <div class="row">
                    <fieldset class="col-lg-12">
                        <legend><i class="icon icon-dashboard lazyIcon"></i> Backoffice</legend>
                        <ul style="list-style-type: none;">
                            <li><i class="icon icon-hand-right"></i>
                                <a target="_bank" href="{{ path('sonata_admin_dashboard') }}">Launch backoffice</a>
                            </li>
                        </ul>
                    </fieldset>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}