{# TEW/src/TEW/TPBundle/Resources/views/TalentPool/index.html.twig #}
{% extends '::base.html.twig' %}

{% block scripts %}
    <script>
        $('.icon-unchecked').click(function(){
           if (confirm('Change working talentpool to '+$(this).attr('name')+'? (to be implemented)')) {
               // do a submit on the homecontroller and forward to the list
           }
        });
        $(function () {
          $('[data-toggle="tooltip"]').tooltip()
        });
    </script>
{% endblock scripts %}

{% block body -%}
    <h1>TalentPool list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th><span style="cursor: help" data-toggle="tooltip" data-placement="left" title="Set working talentpool">Def.</span> </th>
                <th>Name</th>
                <th>Logo</th>
                <th>Profiles</th>
                <th>Creation date</th>
                <th>Creator</th>
                <th width="110">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>
                    {% if (workingtp is not null) and workingtp.id == entity.id %}
                        <i class="icon icon-check" id="{{ entity.id }}" name="{{ entity.name }}"
                           data-toggle="tooltip" data-placement="left" title="Working (default) talentpool"></i>
                    {% else %}
                        <i class="icon icon-unchecked" id="{{ entity.id }}" name="{{ entity.name }}" style="cursor: pointer"
                           data-toggle="tooltip" data-placement="left" title="Click to set working talentpool"></i>
                    {% endif %} 
                </td>
                <td>{{ entity.name }}</td>
                <td>
                    {% if entity.picture is not null%}
                        <img src="{% path entity.picture, 'admin' %}" alt="{{ entity.picture.name }}" width="80px">
                    {% endif %}
                </td>
                <td>{{ entity.profiles|join(' / ') }}</td>
                <td>{% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d') }}{% endif %}</td>
                <td>{{ entity.creator }}</td>
                <td>
                    <div class="btn-group btn-group-xs pull-right record_actions" role="group">
                            <a role="button"  class="btn btn-info" href="{{ path('tew_talentpool_show', { 'id': entity.id }) }}">
                                show
                            </a>
                            {% if is_granted("ROLE_TEW_EXECUTOR") %}
                            <a role="button"  class="btn btn-warning" href="{{ path('tew_talentpool_edit', { 'id': entity.id }) }}">
                                edit
                            </a>
                            {{ form(delete_forms[entity.id]) }}
                            {% endif %}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% block actions %}
    <div class="btn-toolbar pull-right record_actions" role="group">
        <div class="btn-group">
            <a role="button"  class="btn btn-warning" href="{{ path('tew_talentpool_new') }}">
                Create a new entry
            </a>
        </div>
    </div>
{% endblock actions %}
    {% endblock %}
