{# TEW/src/TEW/TPBundle/Resources/views/TalentPool/index.html.twig #}
{% extends '::base.html.twig' %}
{% block styles %}
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.5/css/jquery.dataTables.css">
    <link rel="stylesheet" href="{{asset('bundles/tewtp/css/jquery.tagsinput.css')}}">
{% endblock styles %}
{% block scripts %}
    <script src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.min.js"></script>
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover()
        })
        $(document).ready(function () {
            $('#list').dataTable({
                "bJQueryUI": true,
                // "sPaginationType": "full_numbers",
                "bStateSave": true,
                "bProcessing": true,
                //  "sAjaxSource": '{#{url('_ajaxlistes', {'registrantTypeId': registrantType.id})}#}', 
                //  "sAjaxDataProp": "listes"
                "aoColumns": [
                    // {"bSearchable": false, "bSortable": false}, // Check
                    {"bSearchable": false, "bSortable": false}, // Logo
                    {"bSearchable": true}, // Name
                    {"bSearchable": true}, // Profiles
                    {"bSearchable": true}, // Creation Date
                    {"bSearchable": false}, // Creator
                    {"bSearchable": false, "bSortable": false} // Actions         
                ]
            });
        });
    </script>
    <script>
        $('.icon-unchecked').click(function () {
            if (confirm('Change working talentpool to ' + $(this).attr('name') + '? (to be implemented)')) {
                // do a submit on the homecontroller and forward to the list
            }
        });
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
    </script>
{% endblock scripts %}

{% block body -%}
    <h1>TalentPool list</h1>

    <table id="list">
        <thead>
            <tr>
                {# sets working talentpool...
                <th><span style="cursor: help" data-toggle="tooltip" data-placement="left" title="Set working talentpool">Def.</span> </th>
                #}
                <th>Logo</th>
                <th>Name</th>
                <th>Positions</th>
                <th>Owner / Creation date</th>
                <th>Creator</th>
                <th width="110">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                {% if is_granted('ROLE_TEW_OBJECT_VIEW', entity) or is_granted('ROLE_STD_EXECUTOR') %}
                    <tr>
                        {# sets working talentpool...
                        <td>
                            {% if (workingtp is not null) and workingtp.id == entity.id %}
                                <i class="icon icon-check" id="{{ entity.id }}" name="{{ entity.name }}"
                                   data-toggle="tooltip" data-placement="left" title="Working (default) talentpool"></i>
                            {% else %}
                                <i class="icon icon-unchecked" id="{{ entity.id }}" name="{{ entity.name }}" style="cursor: pointer"
                                   data-toggle="tooltip" data-placement="left" title="Click to set working talentpool"></i>
                            {% endif %} 
                        </td>
                        #}
                        <td>
                            {% if entity.picture is not null%}
                                <img src="{% path entity.picture, 'admin' %}" alt="{{ entity.picture.name }}" width="80px">
                            {% endif %}
                        </td>
                        <td>{{ entity.name }}</td>
                        <td>
                            <small>
                            {% for prof in entity.profiles %}
                                <span class='tag'>{{ prof }}</span>
                            {% endfor %}
                            </small>
                        </td>
                        <td>{{ entity.owningcompany }} {% if entity.createdAt %}{{ entity.createdAt|date('Y-m-d') }}{% endif %}</td>
                        <td>{{ entity.creator }}</td>
                        <td>
                            <div class="btn-group btn-group-xs pull-right record_actions" role="group">
                                 
                                <a role="button"  class="btn btn-info" href="{{ path('tew_talentpool_show', { 'id': entity.id }) }}">
                                    show
                                </a>
                                
                                {% if (is_granted("ROLE_TEW_OBJECT_EDIT", entity) and 'faurecia' not in (app.user.company|lower)) or is_granted("ROLE_MASTER_EXECUTOR") %}
                                    <a role="button"  class="btn btn-warning" href="{{ path('tew_talentpool_edit', { 'id': entity.id }) }}">
                                        edit
                                    </a>
                                {% endif %}
                                {% if is_granted("ROLE_TEW_OBJECT_DELETE", entity) or is_granted("ROLE_MASTER_EXECUTOR") %}
                                    {{ form(delete_forms[entity.id]) }}
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    {% if (is_granted('ROLE_TEW_OBJECT_CREATE') and 'faurecia' not in (app.user.company|lower)) %}   
        {% block actions %}
            <div class="btn-toolbar pull-right record_actions" role="group">
                <div class="btn-group">
                    <a role="button"  class="btn btn-warning" href="{{ path('tew_talentpool_new') }}">
                        Create a new entry
                    </a>
                </div>
            </div>
        {% endblock actions %}
    {% endif %}
{% endblock %}
