{# TEW/TPBundle/src/Resources/views/TalentPool/show.html.twig #}
{% extends '::base.html.twig' %}

{% block scripts %}
    <script>
    $(function () {
      $('[data-toggle="popover"]').popover()
    })
    </script>
{% endblock %}
{% block body -%}
    <h1>TalentPool</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Owner</th>
                <td>{{ entity.creator }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description|raw }}</td>
            </tr>
            <tr>
                <th>Profiles</th>
                <td>
                    {% for profile in entity.profiles %}
                        <div data-toggle="popover" data-delay='{ "show": 500, "hide": 200 }' data-html="true" style="cursor:pointer" data-trigger='hover'
                             data-content="{{ profile.description|escape('html') }}" data-title="{{ profile }}">
                            {{ profile }} (view link to be added)
                        </div>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Candidates (to be removed)</th>
                <td>{{ entity.candidates|join(' / ') }}</td>
            </tr>
            <tr>
                <th>Creationdate</th>
                <td>{{ entity.createdAt|date('d M Y H:i:s') }}</td>
            </tr>
        </tbody>
    </table>
{% block actions %}
    <div class="btn-toolbar pull-right record_actions" role="group">
        <div class="btn-group">
            <a role="button"  class="btn btn-info" href="{{ path('tew_talentpool') }}">
                Back to the list
            </a>
        </div>
        <div class="btn-group">
            <a role="button" class="btn btn-warning" href="{{ path('tew_talentpool_edit', { 'id': entity.id }) }}" >
                Edit
            </a>
        </div>
        <div class="btn-group">
            {{ form(delete_form) }}
        </div>
    </div>
{% endblock actions %}
{% endblock %}
