{# TEW/TPBundle/src/Resources/views/TalentPool/show.html.twig #}
{% extends '::base.html.twig' %}

{% block scripts %}
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover({// Contain the popover within the body NOT the element it was called in.
                container: 'body'
            });
        });
    </script>
{% endblock %}
{% block body -%}
    <h1>TalentPool
        {% if entity.picture %}
            <div class="mag pull-right">
                <img data-toggle="magnify" src="{% path entity.picture, 'admin' %}" alt="{{ entity.picture is null?'':entity.picture.name }}">
            </div>
        {% endif %}
    </h1>

    <div role="tabpanel">
        <!-- Nav tabs -->
        <ul class="nav nav-pills">
            <li role="presentation" class="active"><a href="#details" aria-controls="details" role="tab" data-toggle="tab">Details</a></li>
                {% for profile in entity.profiles %}
                <li role="presentation" class="warning"><a href="#prof{{ loop.index }}" aria-controls="prof{{ loop.index }}" role="tab" data-toggle="tab">Profile {{ profile }}</a></li>
                {% endfor %}
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="details">
                <table class="record_properties">
                    <tbody>
                        {% if is_granted('ROLE_TEW_STD_EXECUTOR') %}
                            <tr>
                                <th>Creator</th>
                                <td>{{ entity.creator }}</td>
                            </tr>
                        {% endif %}
                        <tr>
                            <th>Owner</th>
                            <td>{{ entity.owningcompany }}</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>{{ entity.name }}</td>
                        </tr>
                        <tr>
                            <th>Description</th>
                            <td>{{ entity.description|raw }}</td>
                        </tr>
                        {% if is_granted('ROLE_TEW_STD_EXECUTOR') %}
                            <tr>
                                <th>Clients</th>
                                <td>{{ entity.companies|join(' / ') }}</td>
                            </tr>
                        {% endif %}
                        {#
                        <tr>
                            <th>Candidates (to be removed)</th>
                            <td>{{ entity.candidates|join(' / ') }}</td>
                        </tr>
                        #}
                        {% if is_granted('ROLE_TEW_STD_EXECUTOR') %}
                            <tr>
                                <th>Creationdate</th>
                                <td>{{ entity.createdAt|date('d M Y H:i:s') }}</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        {% for profile in entity.profiles %}
            <div role="tabpanel" class="tab-pane  col-lg-12" id="prof{{ loop.index }}">
                <h5>Position</h5> {{ profile.function?profile.function.indentedName:'All' }} {{ profile.level }}
                {% if profile.locations|length >0 %}
                    <h5>Location(s)</h5> {{ profile.locations|join(' / ') }}
                {% endif %}
                <h5>Description</h5> {{ profile.description|raw }}
            </div>
        {% endfor %}                    

        </div>
    </div>
    {% block actions %}
        <div class="btn-toolbar pull-right record_actions" role="group">
            <div class="btn-group">
                <a role="button"  class="btn btn-info" href="{{ path('tew_talentpool') }}">
                    Back to the list
                </a>
            </div>
            {% if is_granted("ROLE_TEW_OBJECT_EDIT", entity) or is_granted("ROLE_TEW_MASTER") %}
                <div class="btn-group">
                    <a role="button" class="btn btn-warning" href="{{ path('tew_talentpool_edit', { 'id': entity.id }) }}" >
                        Edit
                    </a>
                </div>
            {% endif %}
            {% if is_granted("ROLE_TEW_OBJECT_DELETE", entity) or is_granted("ROLE_TEW_MASTER") %}
                <div class="btn-group">
                    {{ form(delete_form) }}
                </div>
            {% endif %}
        </div>
    {% endblock actions %}
{% endblock %}
